.side{
    width: 20%;
    background-color:rgba(230, 223, 223, 0.5);
    padding-top: 10px;
    padding-bottom: 2px;
    top: 0px;
   
  }

  .side a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    display:block;
    padding: 10px 0;
}
.side a:hover{
    color: blue;
}